*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

@media (max-width: 600px) {
  html {
    font-size: 43.75%;
  }
}

body {
  font-family: "Proxima Nova", sans-serif;
  overflow: hidden;
}

p,
span {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
@media (max-width: 798px) {
  html {
    font-size: 47.5%;
  }
}
